/* General Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: sans-serif, Arial , Helvetica
    
}
button {
    padding:8px;
}

.rMenu button {
    border: 1px solid #4285f4 !important;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea) !important;
    font-weight: bold;
    outline: none;
    color: white;
    border-radius: 2px;
    margin-right: 27px;
    padding: 9px 23px; 
    cursor: pointer;
    
}


a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    opacity: 0.75;
}
/* Navber */

a:hover {
    text-decoration: underline;
}
.logo {
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

.navbar {
    height: 47px;
    max-width: 100%;
    font-size: 13px;
}
.left-menu {
    float: left;
    display: inline;
    padding-top: 10px;
    width: 30%;
}
.rMenu {
    display: inline;
}
.rMenu a {
    padding-right: 15px;
}

#user{
    position: relative;
    top: 8px;
    
    border-radius: 50%;

}
#icon{
    position: relative;
    top: 12px;
    transform: scale(0.8);

}

#iconA:hover {
    text-decoration: none;
}

.lMenu {
    position: relative;
    top: 10px;
    display: inline;
}    


.lMenu a {
    padding-left: 27px;
}
.right-menu {
    float: right;
}

/* Google Search box */

.form {
    margin: 20px auto 40px auto;
}

.search-box{
    position: relative;
    width: 482px;
    height: 44px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.search {
    width: 100%;
    height: 44px;
    padding-left: 46px;
    margin-bottom: 5px;
    border: rgb(211, 208, 208) 1px solid;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.search:hover {
    box-shadow:1px 2px 2px 2px rgba(0, 0, 0, 0.07);
    
}
.search:focus {
    /* border: gray; */
    outline:none;
    font-size: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}



.search-icon{
    position: absolute;
    left: 0;
    width: 45px;
}


.search-icon img {
    position: relative;
    top: 10px;
}
.search-icon img {
   cursor: pointer;
}

.mic-icon{
    position: absolute;
    right: 0px;
    width: 45px;
}

.mic-icon img {
    position: relative;
    top: 12px;
    width: 14px;
}

.mic-icon img:hover {
    cursor: pointer;
}

/* Search buttons */



.searchBottoms {
    margin-top: 18px;
    height: 70px;
}

.searchBottoms button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.searchBottoms button:hover{
    background-color: #f8f9fa;
    border: 1px solid #d4d5d6;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.searchBottoms button:focus {
    outline: none;
}
.iMFeelingLucky {
    position: relative;
    width: 140px;
    bottom: 5px;
}

.iMFeelingLucky span {
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
}

.iMFeelingLucky:hover + #imfl {
    background-color: brown !important;
    color: rgb(255, 255, 255) !important;
    color: chartreuse !important;
}

}

.offered{
    font-size: 17.8px;
}

.offered-country{
    color: #1a0dab;;
}


/* Footer */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100%;
}

footer a , .country {
    color: #70757a;
    opacity: 1;
}

.footer-country {
    height: 40px;
    background-color: #f2f2f2;
    border: rgb(214, 212, 212) 1px solid;
}


.footer-country p {
   line-height: 40px;
   padding-left: 27px;
   padding-top: 2px;
   font-size: 14px;
}
.fooer-menu {
    height: 50px;
}
.left-footer-menu {
    display: inline;
    float: left;
    width: 70%;
    height: 40px;
    background-color: #f2f2f2;
}
.right-footer-menu {
    display: inline;
    float: right;
    width: 30%;
    height: 40px;
    background-color: #f2f2f2;
}

.rfmItem {
    display: inline;
    float: right;
    margin-right: 27px;
    margin-top: 10px;
    font-size: 14px;
    
}
.lfmItem {
    display: inline;
    float: left;
    margin-top: 10px;
    padding-left: 27px;
    font-size: 14px;
}
